<div>
    <h2>Question Number {{question.order}}</h2>
    <div>
        <h3>{{question.text}}</h3>
    </div>
    <div *ngIf="!isQuestionAnswered">
        <div *ngFor="let answer of question.answers">
            <button (click)="answerSelected(question.id, answer.selector)">{{answer.selector}}.</button> {{answer.text}}
        </div>        
    </div>
    <div *ngIf="isQuestionAnswered && selectedAnswerToDisplay">
        <div>
            You chose: {{selectedAnswerToDisplay}}
        </div>
    </div>
</div>