<div>
    <h2>Question Number {{question.order}}</h2>
    <div>
        Remaining Seconds {{remainingSeconds}}
    </div>
    <div>
        <h3>{{question.text}}</h3>
    </div>
    <div *ngIf="!isQuestionAnswered  && !isGameOver" class="radio">
        <div *ngFor="let answer of question.answers" class="col-md-6">
            <label>
                <input (click)="answerSelected(question.id, answer.selector)" type="radio" />{{answer.selector}}. {{answer.text}}
            </label>        
        </div>
    </div>
    <div *ngIf="isQuestionAnswered && selectedAnswerToDisplay && !isGameOver">
        <div>
            You chose: {{selectedAnswerToDisplay}}
        </div>
    </div>
    <div *ngIf="isGameOver">
        <div>
            Game Over!
        </div>
    </div>
</div>