<div *ngIf="!isGameOver">
    <div *ngIf="!question.text && !createdRoom">
        <p>
            Waiting for game to start 
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </p>
        <div class="list-group">
            <div *ngFor="let player of players">
                {{ player.name }}
            </div>    
        </div>
    </div>
    <h3>Players</h3>
    <div *ngIf="!question.text && createdRoom">        
        <button class="btn btn-primary" (click)="startGame()">Start Game</button>        
    </div>
    <div *ngIf="question.text">
        <h3>
            #{{question.order}} {{question.text}}
            <span class="label label-success">{{remainingSeconds}}</span>
            <!-- *ngClass="{'label-success': remainingSeconds > 10, 'label-warning': remainingSeconds < 11}" -->
        </h3>
        <div *ngIf="!isQuestionAnswered" class="radio">
            <div *ngFor="let answer of question.answers" class="col-md-6">
                <label>
                    <input (click)="answerSelected(question.id, answer.selector)" type="radio" />{{answer.selector}}. {{answer.text}}
                </label>        
            </div>
        </div>
    </div>
    <div *ngIf="isQuestionAnswered && selectedAnswerToDisplay">
        <div>
            You chose: {{selectedAnswerToDisplay}} <i class="fa fa-thumbs-up" aria-hidden="true" *ngIf="showGuessStatus && isGuessCorrect"></i><i class="fa fa-thumbs-down" aria-hidden="true" *ngIf="showGuessStatus && !isGuessCorrect"></i>
        </div>
    </div>   
</div>
 <div *ngIf="isGameOver">
    <h1>
        Game Over!
    </h1>
    <div>
        <table class="table leaderboard">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Correct</th>
                </tr> 
            </thead>
            <tbody>
                <tr *ngFor="let result of leaderboard.results; let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{result.player_id}} //TODO: Get player name from the list of players stored for the room</td>
                    <td>{{result.correct}}</td>
                </tr>
            </tbody> 
        </table>
    </div>
</div>