<form (ngSubmit)="createRoom()" #createRoomForm="ngForm">
    <div class="form-group">
        <input  type="text" 
                [(ngModel)]="roomInput.name" 
                ngControl="roomName" 
                placeholder="Room Name" 
                class="form-control" 
                #roomName="ngForm" 
                required
                autofocus />

    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!createRoomForm.valid"><i class="fa fa-save" aria-hidden="true"></i> Create Room</button>
</form>
<hr />
<div class="list-group">
    <a *ngFor="let room of roomlist" (click)="joinRoom(room.id)" href="javascript:void(0)" class="list-group-item">
    {{room.name}}-{{room.id}}
    </a>
</div>
