<form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
    <div class="form-group">
        <input  type="text" 
                [(ngModel)]="player.name" 
                ngControl="playerName" 
                placeholder="Name" 
                class="form-control" 
                #playerName="ngForm" 
                required
                autofocus />
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!signUpForm.valid"><i class="fa fa-paper-plane" aria-hidden="true"></i> Let's Play!</button>
</form>